.App {
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.App-card-holder {
    display: inline-flex;
    overflow-x: hidden;
    flex-shrink: 0;
}

.Pane {
    margin: auto 0;
    height: 100vh;
}

.Left, .Right {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Center {
    width: 17rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 .5rem;

}